.group-buttons .row .col .table tr:nth-child(1) {
  background-color: #6c757dab; }

.group-buttons .row .col .table tr td {
  padding: 0; }
  .group-buttons .row .col .table tr td .btn {
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .group-buttons .row .col .table tr td h4 {
    text-align: center; }
