.col-md-6 {
  padding: 0; }

.span {
  width: 170px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 0;
          border-radius: 0; }

.form-control {
  -webkit-border-radius: 0;
          border-radius: 0; }

.buttons {
  padding: 0 23%;
  margin: 5px 0; }

.group-buttons .row .col .table tr:nth-child(1) {
  background-color: #6c757dab; }

.group-buttons .row .col .table tr td {
  padding: 0; }
  .group-buttons .row .col .table tr td .btn {
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .group-buttons .row .col .table tr td h4 {
    text-align: center; }

body {
  font-size: 12px; }

.container .navs {
  background-color: black; }
  .container .navs .col ul li .navs-a {
    color: #fff; }

.container .row .col {
  padding: 0; }
  .container .row .col .alert {
    background-color: blue; }
    .container .row .col .alert h3 {
      text-align: center;
      font-size: 16px;
      color: #fff; }

.container .row .col .input-group span {
  -webkit-border-radius: 0;
          border-radius: 0; }

.container .row .col .filter {
  background-color: #6c757dab;
  text-align: center; }

.container .row .col .table-container {
  overflow: scroll;
  height: 310px; }
  .container .row .col .table-container .table tbody {
    background-color: #ebf190; }

.borders {
  border: 3px #6c757d solid;
  margin-bottom: 10px; }
  .borders .row .col h3 {
    font-size: 14px;
    text-align: center; }
  .borders .row .col p {
    margin: 0 0 0 15px; }
    .borders .row .col p:nth-last-child(1) {
      margin: 0 0 15px 15px; }
