body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}
a:visited {
  color: #1237B1;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: #000000;
  border-color: rgba(21, 21, 21, 0.2);
}
a:focus {
  color: #000000;
  border-color: rgba(21, 21, 21, 0.2);
}
h1 {
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
h2 {
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 25px;
  font-family: 'Kaushan Script', cursive;
}
hr {
  width: 60px;
  background-color: red;
  height: 3px;
  border: none;
  margin-top: 34px;
}
.container-header {
  background-image: url("../img/background.jpg");
  margin: 0 auto;
  max-width: 1890px;
  height: 1000px;
}
.container-header .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .container-header .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-header .row .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-bottom: 42px;
}
.container-header .row .nav .logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
  padding-top: 27px;
}
.container-header .row .nav .logo a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  text-shadow: none;
  width: 42px;
  height: 42px;
}
.container-header .row .nav .logo a img {
  max-width: 85px;
  height: auto;
}
.container-header .row .nav .navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(66.66666666666667% - 15px);
  width: calc(66.66666666666667% - 15px);
}
.container-header .row .nav .navigation .main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 77px;
}
.container-header .row .nav .navigation .main-navigation li {
  padding: 33px 0px;
  list-style: none;
  display: inline;
  padding-left: 61px;
  border-bottom: 10px;
}
.container-header .row .nav .navigation .main-navigation li:nth-child(1) {
  padding-left: 95px;
}
.container-header .row .nav .navigation .main-navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
}
.container-header .row .nav .navigation .main-navigation li a:hover {
  color: #fce38a;
  border-bottom: 3px solid;
}
.container-header .row .nav .navigation .main-navigation .col .container-form input {
  display: none;
}
.container-header .row .nav .navigation .main-navigation .col .container-form .one {
  margin-left: 35px;
}
.container-header .row .nav .navigation .main-navigation .col .container-form button {
  padding: 37px 18px 9px 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-style: 17px;
  color: #fff;
}
.container-header .row .nav .navigation .main-navigation .col .container-form button:hover {
  color: #fce38a;
  border-bottom: 3px solid;
}
.container-header .row .nav .navigation .main-navigation .col .container-form button a {
  text-decoration: none;
  color: #98999a;
  position: relative;
}
.container-header .row .nav .navigation .main-navigation .col .container-form button a img:hover {
  color: #fce38a;
}
.container-header .row .nav .menu-toggle {
  display: none;
}
.container-header #intro {
  margin-top: 43px;
}
.container-header #intro .intro-content .row .title {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .container-header #intro .intro-content .row .title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-header #intro .intro-content .row .title h3 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  padding-top: 75px;
}
.container-header #intro .intro-content .row .title h1 {
  color: #fff;
  text-align: center;
  font-size: 143px;
  padding-top: 60px;
  line-height: 140px;
  margin-left: 55px;
}
.container-header #intro .intro-content .row .title hr {
  background-color: #fff;
  margin-top: 62px;
  margin-bottom: 50px;
}
.container-header #intro .intro-content .row .title a {
  margin-left: 43.3%;
  text-decoration: none;
}
.container-header #intro .intro-content .row .title a button {
  padding: 10px 31px;
  color: #fff;
  font-size: 14px;
  border: 2px solid;
  border-color: #fff;
  background: transparent;
  margin-bottom: 170px;
}
.container-header #intro .intro-content .row .title a button:hover {
  cursor: pointer;
  color: #fce38a;
}
.container-header #intro .intro-content .row .input {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.container-header #intro .intro-content .row .input .title1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
.container-header #intro .intro-content .row .input .title1 h2 {
  font-size: 17px;
  color: #fff;
  border-top: 3px solid;
  margin-top: -13px;
  padding-top: 19px;
}
.container-header #intro .intro-content .row .input .title1 h2 b {
  font-size: 24px;
}
.container .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .container .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container .row h3 {
  padding-top: 90px;
}
.container .row h2 {
  margin-top: 21px;
  padding-bottom: 6px;
}
.container .row p {
  margin-left: 120px;
  margin-right: 120px;
  line-height: 25px;
  margin-top: 40px;
}
.container .row .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-bottom: 109px;
  margin: 0 auto;
}
.container .row .image .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
  background-color: #95e1d3;
  width: 380px;
  height: 250px;
  margin-top: 97px;
}
.container .row .image .img:hover .item {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.container .row .image .img:hover .item .overlay {
  opacity: 0.8;
}
.container .row .image .img .item {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 250px;
}
.container .row .image .img .item .foto {
  width: 380px;
  height: 250px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.container .row .image .img .item .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 250px;
  background-image: url("../img/team-hover.png");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.container .row .image .img .item .overlay img {
  width: 30px;
  height: 22px;
}
.container .row .image .img .item .overlay h2 {
  font-size: 15px;
  margin: 0px 0;
  color: #fff;
  padding-bottom: 0;
}
#stats {
  background-color: #95e1d3;
  margin: 0 auto;
  max-width: 1890px;
  text-align: center;
}
#stats .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  #stats .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#stats .row .col-twelve .stats-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
#stats .row .col-twelve .stats-list .hr {
  height: 271px;
  width: 2px;
  background-color: #fff;
}
#stats .row .col-twelve .stats-list .stat {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(18.333333333333336% - 15px);
  width: calc(18.333333333333336% - 15px);
  min-height: 7.4rem;
  padding-bottom: 1.5rem;
}
#stats .row .col-twelve .stats-list .stat .stat-count {
  color: #FFFFFF;
  font-size: 72px;
  margin-top: 103px;
  margin-bottom: 26px;
  color: white;
}
#stats .row .col-twelve .stats-list .stat .stat-title {
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 8px;
}
.services {
  padding-top: 103px;
}
.services .item-services {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
}
@media screen and (max-width: 780px) {
  .services .item-services {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.services .item-services .title h3 {
  padding-bottom: 21px;
}
.services .item-services hr {
  margin-top: 40px;
}
.services .item-services .image {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-top: 51px;
}
@media screen and (max-width: 780px) {
  .services .item-services .image {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.services .item-services .image .asd {
  padding-bottom: 9px;
}
.services .item-services .image .qwe {
  padding-bottom: 117px;
}
.services .item-services .image .hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  margin-bottom: 32px;
}
.services .item-services .image .hr hr {
  width: 100%;
  background-color: #e5e5e5;
  max-height: 1px;
  border: none;
}
.services .item-services .image .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
}
.services .item-services .image .img .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
}
.services .item-services .image .img .title .one {
  margin: 5px 10px;
  padding-right: 20px;
}
.services .item-services .image .img .title .one img {
  width: 55px;
  height: 30px;
}
.services .item-services .image .img .title .two h2 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 7px;
}
.services .item-services .image .img .title .two p {
  line-height: 24px;
}
.desing {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../img/design-back.jpg");
  width: 1920px;
  height: 850px;
}
@media screen and (max-width: 780px) {
  .desing {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.desing .item-desing {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .desing .item-desing {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.desing .item-desing .image {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-top: 100px;
}
@media screen and (max-width: 780px) {
  .desing .item-desing .image {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.desing .item-desing .image .item {
  margin: 10px auto;
}
.desing .item-desing .image .item h3 {
  margin-bottom: 21px;
}
.desing .item-desing .image .item h2 {
  padding-bottom: 7px;
}
.desing .item-desing .item-img1 {
  padding-left: 320px;
  padding-top: 25px;
  position: absolute;
}
.desing .item-desing .item-img2 {
  position: relative;
  padding-top: 221px;
  padding-left: 468px;
}
.service .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .service .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.service .row .text {
  padding-top: 110px;
  text-align: center;
}
.service .row .text h2 {
  padding-top: 21px;
  padding-bottom: 7px;
}
.service .row .text p {
  line-height: 25px;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 32px;
  padding-bottom: 60px;
}
.service .row .image {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
@media screen and (max-width: 780px) {
  .service .row .image {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.service .row .image .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
}
.service .row .image .img img {
  padding-top: 28px;
}
.service .row .image .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}
.service .row .image .content .item-content {
  margin-top: 28px;
}
.service .row .image .content .item-content h3 {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.service .row .image .content .item-content .newstitle {
  cursor: pointer;
  padding-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 14px;
  border: 1px solid;
  border-color: #e5e5e5;
}
.service .row .image .content .item-content .newstitle img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.service .row .image .content .item-content .asd {
  padding-top: 10px;
}
.service .row .image .content .item-content .qwe {
  padding-top: 10px;
}
.service .row .image .content .item-content .newscontent {
  font-style: italic;
  line-height: 24px;
  border: 1px solid;
  border-color: #e5e5e5;
  margin-left: -15px;
  margin-right: -15px;
  border-top: none;
}
.service .row .image .content .item-content .newscontent p {
  padding: 15px 30px 21px 20px;
}
.slider1 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-top: 108px;
  background-color: #e5e5e5;
  padding-bottom: 12px;
  padding-top: 20px;
}
@media screen and (max-width: 780px) {
  .slider1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.slider1 .next_button {
  right: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 46px;
  padding: 0 20px;
  position: absolute;
  top: 44%;
  z-index: 10;
}
.slider1 .prev_button {
  left: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 46px;
  padding: 0 20px;
  position: absolute;
  top: 44%;
  z-index: 10;
}
.slider1 .carousel .slider-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.slider1 .carousel .slider-title .left {
  margin-left: 80px;
  margin-right: 15px;
}
.slider1 .carousel .slider-title .left .img .img-1 {
  position: absolute;
  margin: 95px 75px;
}
.slider1 .carousel .slider-title .left .img .img-2 {
  max-width: 150px;
  height: 150px;
  position: relative;
  margin: 50px 30px;
}
.slider1 .carousel .slider-title .right {
  margin: 60px 95px 0 20px;
}
.slider1 .carousel .slider-title .right p {
  font-size: 24px;
  font-style: italic;
  line-height: 37px;
  margin-top: -10px;
  margin-left: -8px;
  padding-bottom: 8px;
}
.slider1 .carousel .slider-title .right hr {
  width: 60px;
  background-color: red;
  height: 3px;
  border: none;
  position: absolute;
  margin: 20px -5px;
}
.slider1 .carousel .slider-title .right h3 {
  margin-left: 64px;
  margin-top: 7px;
  font-family: 'Kaushan Script', cursive;
}
.people .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 98px;
}
@media screen and (max-width: 780px) {
  .people .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.people .row .text {
  text-align: center;
}
.people .row .text h3 {
  padding-bottom: 22px;
}
.people .row .text h2 {
  padding-bottom: 6px;
}
.people .row .text p {
  padding-top: 33px;
  margin: 0 105px;
  line-height: 24px;
  padding-bottom: 79px;
}
.people .row .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.people .row .image .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
  text-align: center;
  padding-top: 9px;
}
.people .row .image .item .item-img {
  background-color: #95e1d3;
  width: 380px;
  height: 470px;
}
.people .row .image .item .item-img:hover .img {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.people .row .image .item .item-img:hover .img .overlay {
  opacity: 0.9;
}
.people .row .image .item .item-img .img {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 470px;
}
.people .row .image .item .item-img .img .foto {
  width: 380px;
  height: 470px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.people .row .image .item .item-img .img .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 470px;
  background-image: url("../img/team-hover.png");
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.people .row .image .item .item-img .img .overlay .icon {
  width: 60px;
  height: 60px;
  margin-left: 1px;
  background-color: #fce38a;
}
.people .row .image .item .item-img .img .overlay a {
  margin: 10px;
  cursor: pointer;
}
.people .row .image .item .item-img .img .overlay a img {
  width: 30px;
  height: 22px;
  margin: 18px 8px 0 0;
}
.people .row .image .item .title h2 {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  line-height: 12px;
}
.people .row .image .item .title h3 {
  font-size: 15px;
  margin-top: 9px;
  font-family: 'Roboto', sans-serif;
}
.hipster {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 175px;
  padding-right: 0px;
  padding-bottom: 160px;
}
@media screen and (max-width: 780px) {
  .hipster {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.work {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}
.work .row .text {
  text-align: center;
}
.work .row .text h2 {
  font-size: 29px;
  padding-bottom: 6px;
}
.work .row .text h3 {
  padding-bottom: 22px;
  padding-top: 3px;
}
.work .row .text p {
  padding: 32px 165px;
  line-height: 24px;
  padding-bottom: 100px;
}
.work .row .portfolio {
  display: grid;
  grid-template-rows: no-repeat(4, 1fr);
  padding-bottom: 99px;
}
.work .row .portfolio .one {
  grid-column: 1;
  grid-row: 1;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .one img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .one .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .one .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .one .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .one .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .one .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .two {
  grid-column: 2;
  grid-row: 1;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .two img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .two .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .two .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .two .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .two .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .two .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .three {
  grid-row: 0.33333333;
  grid-column: 3;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .three img {
  height: 780px;
  width: 100%;
}
.work .row .portfolio .three .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 780px;
  background-image: url("../img/picture-1.png");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .three .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .three .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 320px;
  margin-bottom: 15px;
}
.work .row .portfolio .three .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .three .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .four {
  grid-column: 4;
  grid-row: 1;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .four img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .four .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .four .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .four .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .four .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .four .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .five {
  grid-column: 1;
  grid-row: 2;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .five img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .five .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .five .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .five .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .five .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .five .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .six {
  grid-column: 2;
  grid-row: 2;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .six img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .six .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .six .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .six .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .six .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .six .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.work .row .portfolio .seven {
  grid-column: 4;
  grid-row: 2;
  height: 390px;
  max-width: 472px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.work .row .portfolio .seven img {
  height: 390px;
  width: 100%;
}
.work .row .portfolio .seven .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 390px;
  background-image: url("../img/hover.jpg");
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.work .row .portfolio .seven .overlay:hover {
  opacity: 0.8;
}
.work .row .portfolio .seven .overlay img {
  width: 30px;
  height: 30px;
  margin-top: 135px;
  margin-bottom: 15px;
}
.work .row .portfolio .seven .overlay h2 {
  font-size: 14px;
  font-weight: normal;
}
.work .row .portfolio .seven .overlay p {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.slider2 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  padding-bottom: 123px;
}
@media screen and (max-width: 780px) {
  .slider2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.slider2 .next_button {
  right: 13px;
  color: #fff;
  cursor: pointer;
  font-size: 46px;
  padding: 0 25px;
  position: absolute;
  top: 25%;
  z-index: 10;
}
.slider2 .prev_button {
  left: 13px;
  color: #fff;
  cursor: pointer;
  font-size: 46px;
  padding: 0 25px;
  position: absolute;
  top: 25%;
  z-index: 10;
}
.slider2 .carousel .slider-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.slider2 .carousel .slider-title .left {
  margin-left: 73px;
  margin-right: 15px;
}
.slider2 .carousel .slider-title .left img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  max-width: 210px;
  height: 210px;
}
.slider2 .carousel .slider-title .right {
  margin: 14px 95px 0 15px;
}
.slider2 .carousel .slider-title .right p {
  font-size: 24px;
  font-style: italic;
  padding-top: 20px;
  line-height: 35px;
  padding-bottom: 11px;
}
.slider2 .carousel .slider-title .right hr {
  width: 60px;
  background-color: red;
  height: 4px;
  border: none;
  position: absolute;
  margin: 20px 0 0 0;
}
.slider2 .carousel .slider-title .right h3 {
  margin-left: 70px;
  margin-top: 7px;
  font-family: 'Kaushan Script', cursive;
}
.clients {
  margin: 0 auto;
  background-image: url("../img/clients-back.jpg");
  max-width: 1890px;
}
.clients .row {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .clients .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.clients .row .text-item {
  padding-top: 107px;
}
.clients .row .text-item h3 {
  padding-bottom: 25px;
}
.clients .row .text-item h2 {
  padding-bottom: 6px;
}
.clients .row .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-top: 84px;
  padding-bottom: 55px;
}
.clients .row .image .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(45.833333333333336% - 15px);
  width: calc(45.833333333333336% - 15px);
  margin-left: 45px;
  padding-bottom: 67px;
  text-align: left;
}
.clients .row .image .title .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.clients .row .image .title .item .one {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
.clients .row .image .title .item .one img {
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.clients .row .image .title .item .two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(75% - 15px);
  width: calc(75% - 15px);
}
.clients .row .image .title .item .two h2 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.clients .row .image .title .item .two h3 {
  padding-bottom: 16px;
  font-size: 16px;
}
.clients .row .image .title .item .two p {
  line-height: 25px;
  padding-top: 20px;
}
.clients .row .image .title .item .two hr {
  margin: 0;
  height: 3px;
}
.blog .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .blog .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.blog .row .text {
  padding-top: 109px;
  text-align: center;
}
.blog .row .text h3 {
  padding-bottom: 21px;
}
.blog .row .text h2 {
  padding-bottom: 6px;
}
.blog .row .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-bottom: 110px;
}
.blog .row .image .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
}
.blog .row .image .img img {
  width: 380px;
  height: 240px;
  margin: 40px 0 6px 0;
}
.blog .row .image .img .one {
  position: relative;
}
.blog .row .image .img .two {
  position: absolute;
  width: 62px;
  height: 70px;
  margin: 200px 0 0px -390px;
}
.blog .row .image .img h3 {
  position: absolute;
  font-size: 15px;
  margin: -80px 0 0 5px;
}
.blog .row .image .img h3 b {
  font-size: 23px;
}
.blog .row .image .img h2 {
  font-size: 14px;
  padding-bottom: 6px;
}
.blog .row .image .img p {
  line-height: 25px;
  padding-bottom: 16px;
}
.blog .row .image .img .hr {
  margin: 0;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
}
.blog .row .image .img .icon {
  padding-top: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.blog .row .image .img .icon img:nth-child(1) {
  width: 20px;
  height: 12px;
  margin: 0;
  margin-right: 5px;
  margin-top: 6px;
}
.blog .row .image .img .icon img:nth-child(2) {
  width: 16px;
  height: 15px;
  margin: 0;
  margin-right: 5px;
  margin-top: 6px;
  margin-left: 10px;
}
.map {
  background-image: url("../img/map-back.jpg");
  max-width: 1890px;
  margin: 0 auto;
}
.map .row {
  text-align: center;
  padding-bottom: 50px;
}
.map .row img {
  padding-top: 58px;
}
.map .row a {
  text-decoration: none;
}
.map .row a h2 {
  position: relative;
  text-align: center;
  color: red;
  font-size: 23px;
  padding-top: 8px;
}
.map .row hr {
  position: relative;
  width: 60px;
  background-color: red;
  height: 3px;
  border: none;
  margin-top: 17px;
}
.mogo {
  padding-top: 75px;
}
.mogo .row {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  .mogo .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mogo .row .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.mogo .row .image .mogos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(37.5% - 15px);
  width: calc(37.5% - 15px);
  margin-top: -3px;
}
.mogo .row .image .mogos p {
  padding-top: 28px;
  line-height: 24px;
}
.mogo .row .image .mogos h2 {
  font-size: 16px;
  padding-top: 41px;
  padding-bottom: 12px;
}
.mogo .row .image .mogos h2 b {
  font-weight: 400;
}
.mogo .row .image .mogos hr {
  width: 100%;
  background-color: #e5e5e5;
  height: 1px;
  margin: 0 0 3px 0;
}
.mogo .row .image .mogos h3 {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 33px;
}
.mogo .row .image .mogos h3 .one {
  padding-left: 10px;
}
.mogo .row .image .mogos h3 a {
  margin: 0 6px;
}
.mogo .row .image .mogos form {
  margin-left: -23px;
}
.mogo .row .image .mogos form .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mogo .row .image .mogos form .row .left .email {
  padding: 8px 30px;
}
.mogo .row .image .mogos form .row .right .button {
  padding: 11px 39px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  background-color: #95e1d3;
  border: none;
}
.mogo .row .image .mogos form .row .right .button:hover {
  cursor: pointer;
}
.mogo .row .image .blog {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(33.333333333333336% - 15px);
  width: calc(33.333333333333336% - 15px);
  margin-top: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mogo .row .image .blog .h2 h2 {
  font-size: 13px;
  padding-left: 55px;
}
.mogo .row .image .blog .qwe1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.mogo .row .image .blog .qwe1 img {
  width: 120px;
  height: 80px;
  padding-top: 32px;
  padding-left: 56px;
}
.mogo .row .image .blog .qwe1 .rew h2 {
  font-size: 12px;
  padding-top: 50px;
  line-height: 17px;
  padding-left: 22px;
  font-family: 'Roboto', sans-serif;
}
.mogo .row .image .blog .qwe1 .rew p {
  font-style: italic;
  font-size: 13px;
  margin: 5px 0 10px 20px;
}
.mogo .row .image .blog .qwe2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.mogo .row .image .blog .qwe2 img {
  width: 120px;
  height: 80px;
  padding-top: 18px;
  padding-left: 56px;
}
.mogo .row .image .blog .qwe2 .rew h2 {
  font-size: 12px;
  padding-top: 37px;
  line-height: 17px;
  padding-left: 22px;
  font-family: 'Roboto', sans-serif;
}
.mogo .row .image .blog .qwe2 .rew p {
  font-style: italic;
  font-size: 13px;
  margin: 5px 0 10px 20px;
}
.mogo .row .image .blog .qwe3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.mogo .row .image .blog .qwe3 img {
  width: 120px;
  height: 80px;
  padding-left: 55px;
  padding-top: 17px;
}
.mogo .row .image .blog .qwe3 .rew h2 {
  font-size: 12px;
  padding-top: 37px;
  line-height: 17px;
  padding-left: 22px;
  font-family: 'Roboto', sans-serif;
}
.mogo .row .image .blog .qwe3 .rew p {
  font-style: italic;
  font-size: 13px;
  margin: 5px 0 10px 20px;
}
.mogo .row .image .instagram {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(29.166666666666668% - 15px);
  width: calc(29.166666666666668% - 15px);
  margin-top: -5px;
}
.mogo .row .image .instagram h2 {
  font-size: 14px;
  padding-left: 61px;
}
.mogo .row .image .instagram .one {
  padding-left: 66px;
  padding-top: 32px;
}
.mogo .row .image .instagram .two {
  padding-left: 66px;
}
.mogo .row .image .instagram .three {
  padding-left: 66px;
}
.mogo .row .image .instagram img {
  width: 88px;
  height: 88px;
}
.mogo .row .image .instagram p {
  font-style: italic;
  font-size: 12px;
  padding-left: 60px;
}
.hr {
  margin: 0 auto;
  max-width: 1200px;
}
.hr hr {
  width: 100%;
  margin-top: 58px;
  height: 2px;
  background-color: #e5e5e5;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 18px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 780px) {
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
footer a {
  text-decoration: none;
  color: red;
}
